body { background-color: #2c3e50; color: rgb(0, 0, 0); font-family: sans-serif; display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; }
#os-container { background: #ffffff; padding: 30px;  box-shadow: 0 10px 30px rgba(0,0,0,0.5); text-align: center; width: 400px; border-radius: 1rem;}
.player { background: #1a252f; padding: 15px;color: #ffffff; border-radius: 10px; margin-bottom: 20px; }
#controller-area { border: 2px dashed #7f8c8d; padding: 20px; min-height: 150px; }
